<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 当设备处于竖屏（portrait）模式时，将加载a.css样式文件。 -->
  <link rel="stylesheet" href="./a.css" media="(orientation: portrait)">
  <!-- 当设备处于横屏（landscape）模式时，将加载b.css样式文件。 -->
  <link rel="stylesheet" href="./b.css" media="(orientation: landscape)">
  <title>Document</title>
</head>

<body>
  <script>
    /* 如何多条件的时候，min-width编写顺序：从小到大进行适配 */
    /* min-width方式：移动优先的原则，先编写移动端设备，然后响应式过渡到PC端 */
  </script>
</body>

</html>