<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 现在有一个字符串，你要对这个字符串进行 n 次操作，每次操作给出两个数字：(p, l) 表示当前字符串中从下标为 p 的字符开始的长度为 l 的一个子串。你要将这个子串左右翻转后插在这个子串原来位置的正后方，求最后得到的字符串是什么。字符串的下标是从 0 开始的，你可以从样例中得到更多信息。 -->
  <!-- js v8 -->
  <script>
    const rl = require("readline").createInterface({ input: process.stdin });
    var iter = rl[Symbol.asyncIterator]();
    const readline = async () => (await iter.next()).value;

    void async function () {
      // Write your code here
      line = await readline()
      let arr = line.split('');
      let newarr = JSON.parse(JSON.stringify(arr))
      let str = ''
      line = await readline()
      while (line = await readline()) {
        let [p, l] = line.split(' ');
        let arrsli = arr.slice(p, l + p)
        newarr.push(...arrsli.reverse())
        arr = newarr
      }
      newarr.map(n => {
        str += n
      })
      console.log(str)
    }()
  </script>
</body>

</html>