<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    // 创建一个模拟异步任务的函数  
    function simulateAsyncOperation(success) {
      // 返回一个Promise对象  
      return new Promise((resolve, reject) => {
        // 假设这是一个异步操作，比如网络请求  
        setTimeout(() => {
          if (success) {
            // 异步操作成功，调用resolve方法并传入结果  
            resolve('操作成功！');
          } else {
            // 异步操作失败，调用reject方法并传入错误原因  
            reject('操作失败！');
          }
        }, 1000); // 模拟耗时1秒  
      });
    }
    simulateAsyncOperation(true)
      .then(result => {
        console.log('第一步:', result); // 输出: 第一步: 操作成功！  
        return '继续下一步'; // 返回一个新的值或另一个Promise  
      })
      .then(nextResult => {
        console.log('第二步:', nextResult); // 输出: 第二步: 继续下一步  
      })
      .catch(error => {
        console.error('出错了:', error);
      });
  </script>


  <script>
    console.log('script start'); // 打印 "script start"
    setTimeout(function () { console.log('setTimeout'); }, 0); // 设置一个延迟为0的定时器，但不会立即执行
    // 注：setTimeout的回调函数会在当前代码块执行完毕后执行

    new Promise((resolve) => { // 创建一个Promise对象
      console.log('promise'); // 打印 "promise"
      resolve(); // 解决Promise
    })
      .then(function () { console.log('promise1'); }) // 在Promise解决后执行，打印 "promise1"
      .then(function () { console.log('promise2'); }); // 在上一个.then()后执行，打印 "promise2"

    console.log('script end'); // 打印 "script end"
  </script>
</body>

</html>